@model List<Habitacion>

@{
    ViewBag.Title = "Habitaciones";
    Layout = "_Layout";
}

<a asp-action="Create" class="btn btn-success">
    <i class="bi bi-house-add"></i>
    Nueva Habitación
</a>
<div class="fs-3 fw-bold mb-3">Listado de Habitaciones</div>

@foreach(var habitacion in Model)
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Habitación @habitacion.Id</h5>
            <p class="card-text">Piso: @habitacion.Piso</p>
            <p class="card-text">Ubicación: @habitacion.Ubicacion</p>
            <p class="card-text">Tipo de habitación: @habitacion.IdTipoHabitacion</p>
            <a href="@Url.Action("Edit", "Habitaciones", new { id = habitacion.Id })" class="btn btn-primary">Editar</a>
            <a href="@Url.Action("Delete", "Habitaciones", new { id = habitacion.Id })" class="btn btn-danger">Eliminar</a>
        </div>
    </div>
}
