@model IEnumerable<SistemaHotel.Models.Cliente>

@{
    ViewData["Title"] = "Clientes";
    ViewBag.ControllerName = "Clientes";
}

<div class="fs-3 fw-bold mb-3">Listado de Clientes</div>

<form asp-controller="Clientes" asp-action="Index">
    <div class="input-group">
        <input type="text" name="SearchString" class="form-control"/>
        <button type="submit" value="Filter" class="btn btn-secondary">
            <i class="bi bi-search"></i>
            Buscar
        </button>
        <a asp-action="Create" class="btn btn-success">
            <i class="bi bi-person-add"></i>
            Nuevo Cliente
        </a>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Razón Social</th>
            <th>Nro. Razón Social</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            ViewBag.itemId = @item.Id.ToString();
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombres)
                    @Html.DisplayFor(modelItem => item.Apellidos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RazonSocial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NroRazonSocial)
                </td>
                <td>
                    @await Html.PartialAsync("_IndexButtons")
                </td>
            </tr>
        }
    </tbody>
</table>
