@model IEnumerable<Cliente>

@{
    string controllerName = ViewBag.controllerName;
}

<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Cliente</th>
        <th>Razón Social</th>
        <th>Nro. Razón Social</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombres)
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RazonSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NroRazonSocial)
            </td>
            <td>
                @if (controllerName == "Clientes")
                {
                    <a asp-controller="Clientes" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Edit</a>
                    <a asp-controller="Clientes" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                }
                @if (controllerName == "Reservas")
                {
                    <a asp-controller="Reservas" asp-action="Habitaciones" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Seleccionar</a>
                }

            </td>
        </tr>
    }
    </tbody>
</table>